* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-primary:'Raleway', sans-serif;
    --font-secondary:'Inter', sans-serif;
}
a {
    text-decoration: none;
}
ul li, ol li {
    list-style: none;
}
html {
    font-size: 62.5%;
}
.logo img{
    width: 272px;
}
.banner-funko {
    background-image:linear-gradient(rgba(7, 7, 7, 0.491),rgba(5, 5, 5, 0.861)), url(../img/funkos-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    display: inline-block;
    width: 100%;
    margin: 70px 0px 0px;
    padding: 120px 80px 0px;
    background-position:13% 90%;
}
nav {
    background-color:#30343F;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 70px;
}

.nav-link{
    display: inline-block;
    font-size: 1.6em;
    margin:0px 20px;
    font-family: var(--font-primary);
    text-transform:uppercase;
    color: white;
}
.banner-funko h1,.banner-funko h4{
    font-family: var(--font-primary);
    color: white;
}
.banner-funko button{
    font-family: var(--font-secondary);
    display: inline-block;
    margin: 30px 0px 0px;
    color:rgb(0,0,0);
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    background-color:white;
    padding: 5px 60px;
    border-radius: 24px;
    cursor: pointer;
    
}
.banner-funko h1{
    font-size: 3.8em;
    padding: 10px 0px;
}
.banner-funko h4{
    font-size: 1.6rem;
    font-weight: lighter;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 0px;
}

main .cont-funko{
    display: flex;
    gap:40px;
    white-space: nowrap;

}
.cont-funko h2, .funko-body h4{
    font-family: var(--font-primary);
}

.img-card-funko img{
    width:350px;

}
.funko-body{
    padding: 125px 0px;   
}
.cont-funko h2{
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.cont-funko h4{
    font-size: 1.6rem;
    font-weight: 300;
    padding: 10px 0px 15px;
    border-bottom: 1px solid #FF3333;
}
.cont-funko button{
    margin:20px 0px 0px;
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 30px;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
}
.ult-lanzamientos h2{
    font-size: 4.2em;
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #111111;
    padding:0px 300px 0px 0px;
}
.cont-lanza-img img{
    width: 250px;
    display: block;
}
.cont-card-funko{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.cont-label{
    display: inline;    
    float: right;
}
.label{
    margin:50px 10px 0px;
    background-color:#FF3333;
    padding: 5px 15px;
    color: white;
    font-size: 1.1em;
}
