
@media only screen and (min-width:851px) and (max-width:980px){
    .cont-lanza-img img{
        width: 160px;
       }
}
@media only screen and (max-width:850px){
    .menu{
        display: none;
        position:absolute;

    }
    .cont-navbar-icon{
        display: block;
        cursor: pointer;
    }
    .logo img{
        width: 200px;
    }
   .show{
    display:block;
    position: absolute;
    background-color:#30343F;
    top: 60px;
    left: 0;
    padding: 20px;
    height:15vh;
    width: 100%;
    padding: 10px;
   }
   nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;  
    text-align: center;
    align-items: center;
   }
   .cont-lanza-img img{
    width: 150px;
   }


}

@media only screen and (max-width:950px){
    .funko-body h2{
        font-size: 2.5em;
    }
    
    .funko-body h4{
        font-size: 1.7em;
    }
    .img-card-funko img{
        width: 260px;
        padding-top:50px;
    }
    .ult-lanzamientos h2{
        font-size: 3em;
    }
    
}
@media only screen and (max-width:730px){
    .funko-body h2{
        font-size: 2.6em;
    }
    
    .funko-body h4{
        font-size: 1.3em;
    }
    .img-card-funko img{
        width: 220px;
        padding-top: 80px;

    }
}

@media only screen and (min-width:250px) and (max-width:550px){
    .funko-body h4{
        font-size: 1.3em;        
    }
    .funko-body h2{
        font-size: 1.8em;
    }
    .funko-body button{
        font-size: 1em;
    }
    .banner-funko {
        background-position: center;
    }
    .cont-lanza-img img{
        width: 120px;
    }
    .cont-card-funko{
        gap: 0px;
    
    }
    .cont-label .label{
        font-size: 0.3em;
    }
    .card-funko h6{
        font-size: 0.7em;
    }
    .card-funko h5{
        font-size: 1em;
    }
    
    .precio-card-lanza{
        font-size: 0.8em;
    }
    .cuota-lanza{
        font-size: 0.5em;
    }
    .logo img{
        width: 150px;
        
    }
    .arrow-left,.arrow-right{
        font-size: 1.4rem;
        position: relative; 
        
        
    }
    .arrow-right{
        right: 15px;
    }
    .arrow-left{
        left: 15px;
    }
}